@using HookahCulture.Common
@model HookahCulture.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var post in Model.Posts)
{
    <div class="card" style="width: 18rem;">
        <img src="@post.ImageUrl" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@post.Text</h5>
            <p class="card-text">@post.Text</p>
            <a href="#" class="btn btn-primary">Like</a>
        </div>
    </div>
}




