@{
    this.ViewData["Title"] = "Privacy Policy";
}
<h1>@this.ViewData["Title"]</h1>

<p>
    What is a Privacy Policy
    A Privacy Policy is a legal statement that specifies what the business owner does with the personal data collected from users, along with how the data is processed and for what purposes.

    In 1968, Council of Europe did studies on the threat of the Internet expansion as they were concerned with the effects of technology on human rights. This lead to the development of policies that were to be developed to protect personal data.

    This marks the start of what we know now as a "Privacy Policy." While the name "Privacy Policy" refers to the legal agreement, the concept of privacy and protecting user data is closely related.

    This agreement can also be known under these names:

    Privacy Statement
    Privacy Notice
    Privacy Information
    Privacy Page
    A Privacy Policy can be used for both your website and mobile app if it's adapted to include the platforms your business operates on.

    The requirements for Privacy Policies may differ from one country to another depending on the legislation. However, most privacy laws identify the following critical points that a business must comply with when dealing with personal data:

    Notice - Data collectors must clearly disclose what they are doing with the personal information from users before collecting it.
    Choice - The companies collecting the data must respect the choices of users on what information they choose to provide.
    Access - Users should be able to view, update or request the removal of personal data collected by the company.
    Security - Companies are entirely responsible for the accuracy and security (keeping it properly away from unauthorized eyes and hands) of the collected personal information.

    In the EU, the GDPR requires companies dealing with EU citizens to have a Privacy Policy.

    This law became enforceable in early 2018 and has affected businesses around the world. Not only does it require a Privacy Policy, but it has requirements for what must go into a Privacy Policy and how it must be written and displayed.

    As a general rule, if you're compliant with Privacy Policy requirements of the GDPR, you'll by default end up complying with most other privacy laws around the world. That's because the GDPR is so robust and comes with stringent requirements.

    US Flag

    In the US, privacy legislation may vary from one state to another. Certain federal laws govern users' data in some circumstances, such as in these examples:

    The Gramm-Leach-Bliley Act - This act obliges organizations to offer clear and accurate statements about their information collecting practices and it also limits usage and sharing of financial data.
    COPPA - This act is especially for businesses that collect information about children under 13 years of age.
    Health Insurance Portability and Accountability Act - This act applies to online health services as well.
    California Online Privacy Protection Act (CalOPPA) - California's privacy law affects anyone collecting personal information from residents of California.
    SOPIPA - This act applies if you collect personal data from students.
    Content Eraser law - This law applies if you collect data from minors (under the age of 18).
</p>
