<!-- Page Title Section
    ================================================= -->
<div class="page-title-section faq">
    <div class="container">
        <div class="headline">
        </div>
        <div class="page-search">
        </div>
    </div>
</div><!-- .page-header faq -->

<div id="page-contents">
    <div class="container ">

        <div class="row">
            <div class="col-sm-9">

                <!-- FAQ Content
                ================================================= -->
                <div class="tab-content faq-content">

                    <!-- FAQ Category Content : General -->
                    <div class="tab-pane active" id="faq_cat_1">
                        <div class="faq-headline">
                            <h3 class="item-title grey"><i class="icon ion-ios-information-outline"></i>General Questions</h3>
                        </div>
                        <div class="panel-group" id="faqAccordion-1">
                            <div class="panel panel-default ">
                                <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion-1" data-target="#question1">
                                    <h4 class="panel-title"><a href="javascript:void(0);" class="ing">Q: Who are we?</a></h4>
                                </div>
                                <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <h5><span class="label label-primary">Answer</span></h5>
                                        <p>We are a dedicated team trying to bring joy to people and help them meet other people sharing the same interests.</p>
                                    </div>
                                </div>
                            </div><!-- .panel -->
                            <div class="panel panel-default ">
                                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion-1" data-target="#question2">
                                    <h4 class="panel-title"><a href="javascript:void(0);" class="ing">Q: Question two example?</a></h4>
                                </div>
                                <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <h5><span class="label label-primary">Answer</span></h5>
                                        <p>Answer two example.</p>
                                    </div>
                                </div>
                            </div><!-- .panel -->
                        </div><!-- .panel-group -->
                    </div><!-- #faq_cat_1 -->
                    
                </div>
            </div>
            <div class="col-sm-3">
                <div class="faq_contact">
                    <div class="faq-headline">
                        <h3 class="item-title grey"><i class="icon ion-ios-help-outline"></i>Still Confused?</h3>
                        <p>Contact us if you still have any question.</p>
                    </div>
                    <div class="reach-out">
                        <div class="method by-email"><a href="#"><i class="icon ion-email"></i>Email us: simeon.nikolov111@gmail.com</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>