@using HookahCulture.Common
@using HookahCulture.Data.Models;
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> userManager;

@{ 
    var currentUser = await this.userManager.GetUserAsync(this.User);
}



<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This is social network html5 template available in themeforest......" />
    <meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
    <meta name="robots" content="index, follow" />
    <title>News Feed | Check what your friends are doing</title>

    <!-- Stylesheets
    ================================================= -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/ionicons.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link href="~/css/emoji.css" rel="stylesheet">

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="~/images/favicon.ico" />
</head>
<body>
    <header id="header">
        <nav class="navbar navbar-default navbar-fixed-top menu">
            <div class="container">
                <a class="navbar-brand" href="/Home/Index"><img src="~/images/hookahlogo-white1.png" alt="logo" /></a>
                @*Collect the nav links, forms, and other content for toggling*@
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right main-menu">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Newsfeed <span><img src="~/images/down-arrow.png" alt="" /></span></a>
                            <ul class="dropdown-menu newsfeed-home">
                                <li><a href="/Home/Index">Newsfeed</a></li>
                                <li><a href="/Chat/Chat">Chatroom</a></li>
                                <li><a href="/Gallery/Index">Gallery</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Timeline <span><img src="~/images/down-arrow.png" alt="" /></span></a>
                            <ul class="dropdown-menu login">
                                <li><a href="/Timeline/PersonalTimeline?timelineId=@currentUser.TimelineId">Personal Timeline</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="/About/Contact">Contact Us</a></li>
                        <li class="dropdown"><a href="/Identity/Account/Login">Log out</a></li>
                    </ul>
                </div> @*/.navbar-collapse*@
            </div> @*/.container*@
        </nav>
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="footer-wrapper">
                    <div class="col-md-3 col-sm-3">
                        <a href=""><img src="~/images/hookahlogo.png" alt="" class="footer-logo" /></a>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <h5>For individuals</h5>
                        <ul class="footer-links">
                            <li><a href="/Identity/Account/Register">Signup</a></li>
                            <li><a href="/Identity/Account/Login">login</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <h5>About</h5>
                        <ul class="footer-links">
                            <li><a href="/About/Contact">About us</a></li>
                            <li><a href="/Home/Privacy">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <h5>Contact Us</h5>
                        <ul class="contact">
                            <li><i class="icon ion-ios-telephone-outline"></i>+359 878 90 3895</li>
                            <li><i class="icon ion-ios-email-outline"></i>simeon.nikolov111@gmail.com</li>
                            <li><i class="icon ion-ios-location-outline"></i>Sofia, Bulgaria</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTMXfmDn0VlqWIyoOxK8997L-amWbUPiQ&callback=initMap"></script>
        <script src="~/js/jquery-3.1.1.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/jquery.sticky-kit.min.js"></script>
        <script src="~/js/jquery.scrollbar.min.js"></script>
        <script src="~/js/script.js"></script>
        <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
        <script src="~/js/jquery.form.js"></script>
        <script src="~/lib/moment/min/moment-with-locales.min.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTMXfmDn0VlqWIyoOxK8997L-amWbUPiQ&callback=initMap"></script>
        <script src="~/js/jquery-3.1.1.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/jquery.sticky-kit.min.js"></script>
        <script src="~/js/jquery.scrollbar.min.js"></script>
        <script src="~/js/script.js"></script>
        <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
        <script src="~/js/jquery.form.js"></script>
        <script src="~/lib/moment/min/moment-with-locales.min.js" asp-append-version="true"></script>
    </environment>
    @this.RenderSection("Scripts", required: false)

    @section Scripts {

        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                })
            })
        </script>
    }
</body>
</html>
